@import 'media.scss';

.sidebar {

  select {
    width:80%; display: inline;
    margin: 10px 5px;
  }
  label {
    display: block;
    margin: 5px 5px;
  }
  button {
    border-radius: 50%;
  }
  #selection-panel {
    button {
        padding: 9px 12px;
    }
  }

  #selection-panel, #itinerary-panel{
    padding: 10px;
  }
  #it_day{
    text-align: center;
  }
  .myRow {
    padding: 10px;

    &:after{
      clear: both;
      display: block;
      content: ' ';
    }
  }
}
.clearfix:after{
  clear: both;
  display: block;
  content: ' ';
}
.navbar {
  margin-bottom: 0;
  height: 6vh;
}

.container {
  width: 100%;
  padding: 0;
}



body, html{
  // overflow-x: hidden;

}
